{% extends "layout.html" %}

{% block title %}DitchSpotify - Verbind {% endblock %}

{% block content %}
<div class="content-body" style="text-align: center; margin-top: 3rem;">
    <h1 class="page-title">Verbind met Spotify</h1>
    <div class="page-subscript">Waarom zou je moeten overstappen?</div>
    
    <p style="margin: 2rem 0;">
        Je hebt het misschien niet door, maar de muziek waar je naar luistert geeft misschien het antwoord al.
    </p>

    <a href="{{ url_for('login') }}" class="hero-btn" style="display: inline-block;">
        Log in met Spotify
    </a>
</div>
{% endblock %}